@model FYstudentMgr.Models.Courses.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lesson.LessonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.LessonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextAnalysis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextAnalysis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasVideo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExerciseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
