@model FYstudentMgr.Models.Courses.Exercise

@{
    ViewBag.Title = "Edit";
}
<style>
    fieldset {
        padding: .35em .625em .75em;
        margin: 0 2px;
        border: 1px solid silver;
    }

    legend {
        padding: .5em;
        border: 0;
        width: auto;
    }

    body fieldset {
        border: 1px solid #D8D8D8;
        padding: 10px;
    }

        body fieldset legend {
            padding: 3px 8px;
            font-weight: 700;
            border: 1px solid #D8D8D8;
            background-color: #F9F9F9;
        }

    fieldset.blue {
        border: 1px solid #dce3ed;
    }

        fieldset.blue legend {
            padding: 3px 8px;
            font-weight: 700;
            font-size: 16px;
            color: #347add;
            background: none;
            border: none;
        }

    .picList li {
        padding: 0 0 8px;
    }

    .input-text-c, .input-text, .measure-input, textarea, input.date, input.endDate, .input-focus {
        border: 1px solid #D0D0D0;
        height: 18px;
        margin: 0 5px 0 0;
        padding: 2px 0 2px 5px;
        border: 1px solid #d0d0d0;
        background: url("../images/input.png") repeat-x scroll 0 0 #FFFFFF;
        font-family: Verdana,Geneva,sans-serif,"宋体";
        font-size: 12px;
        border-radius: 3px;
    }
</style>
<div class="container mgt20 mgb80 text">
    <div class="panel panel-green  pd0">
        <div class="panel-heading">
            <a href="/Home/Admin">博奥管理后台</a>>><a href="/Subject/Index">课程管理</a>>><a href="/Course/Details/@ViewBag.CourseID">@ViewBag.CourseName</a>>>第 @ViewBag.Sort 章 @ViewBag.UnitName>>《<a href="/Lesson/Details/@ViewBag.LessonID">@ViewBag.LessonName</a>》>>修改题目
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Edit", "Exercise", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = " return check()" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })                    
                    <input type="hidden" name="Index" value="@ViewBag.Index" />
                    @Html.HiddenFor(model => model.ExerciseID)
                    @Html.HiddenFor(model => model.LessonID)
                    @Html.HiddenFor(model => model.Category)
                   

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExerciseBody, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ExerciseBody)
                            @Html.ValidationMessageFor(model => model.ExerciseBody, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if (Model.Category == FYstudentMgr.Models.Courses.ExerciseCategory.单选题)
                    {
                        <div class="form-group" id="single">
                            @Html.LabelFor(model => model.Options, "选项", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @{
                                       int i = 0;
                                       foreach (var option in Model.Options) 
                                       { 
                                          <fieldset class="blue pad-10">
                                                <legend><input type="checkbox" checked name="suse" value="@i"> 可用</legend>
                                                <div class="picList">
                                                    <input type="hidden" name="OptionID" value="@option.OptionID" />
                                                    <input class="input-text" type="text" name="sopt" value="@Convert.ToChar('A'+i)" style="width:30px;">
                                                    @if (option.IsCorrect)
                                                    {
                                                        <input type="radio" name="sanswer" checked value="@i">
                                                    }
                                                    else
                                                    {
                                                        <input type="radio" name="sanswer" value="@i">
                                                    }
                                                    
                                                    <div>
                                                        <textarea id="sOption_@i" name="sOption" style="width:100%;height:100px;">@option.Content</textarea>
                                                    </div>
                                                </div>
                                          </fieldset>
                                           i++;
                                       }
                                    
                                }

                                
                                <fieldset class="blue pad-10">
                                    <legend><input type="checkbox"  name="suse" value="@i"/> 可用</legend>
                                    <div class="picList">
                                        <input class="input-text" type="text" name="sopt" value="@Convert.ToChar('A'+i)" style="width:30px;">
                                       
                                            <input type="radio" name="sanswer" value="@i">
                                       
                                        <div>
                                            <textarea id="sOption_@i" name="sOption" style="width:100%;height:100px;"></textarea>
                                        </div>
                                    </div>
                                </fieldset>


                               
                            </div>
                        </div>

                    }
                    @if (Model.Category == FYstudentMgr.Models.Courses.ExerciseCategory.判断题)
                    {
                        <div class="form-group " id="judge">
                            @Html.LabelFor(model => model.Options, "选项", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <fieldset class="blue pad-10">
                                    <legend>答案</legend>
                                    @if (Model.Answer == "true")
                                    {
                                        <div class="picList f24">
                                            <input type="radio" name="janswer" checked value="true" /> 正确
                                            <input type="radio" name="janswer" value="false" /> 错误
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="picList f24">
                                            <input type="radio" name="janswer" value="true" /> 正确
                                            <input type="radio" name="janswer" checked value="false" /> 错误
                                        </div>
                                    }
                                    
                                </fieldset>
                            
                            </div>
                        </div>
                    }
                    @if (Model.Category == FYstudentMgr.Models.Courses.ExerciseCategory.多选题)
                    {
                        <div class="form-group " id="multiple">
                            @Html.LabelFor(model => model.Options, "选项", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                    @{
                                            int j = 0;
                                            foreach (var option in Model.Options)
                                            {
                                                <fieldset class="blue pad-10">
                                                    <legend><input type="checkbox" name="muse" value="@j"> 可用</legend>
                                                    <div class="picList">
                                                        <input  type="hidden"  name="OptionID" value="@option.OptionID"/>
                                                        <input class="input-text" type="text" name="mopt" value="@Convert.ToChar('A'+j)" style="width:30px;">
                                                        @if (option.IsCorrect)
                                                        {
                                                            <input type="checkbox" name="manswer" checked value="@j">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="manswer" value="@j">
                                                        }
                                                       
                                                        <div>
                                                            <textarea id="mOption_@j" name="mOption" style="width:100%;height:100px;">@option.Content</textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                j++;
                                            }




                                    }
                                
                                <fieldset class="blue pad-10">
                                    <legend><input type="checkbox" name="muse" value="@j"> 可用</legend>
                                    <div class="picList">
                                        <input class="input-text" type="text" name="mopt" value="@Convert.ToChar('A'+j)" style="width:30px;">
                                        <input type="checkbox" name="manswer" value="@j">
                                        <div>
                                            <textarea id="mOption_@j" name="mOption" style="width:100%;height:100px;"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                
                            </div>
                        </div>
                    }
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.TextAnalysis, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TextAnalysis)
                            @Html.ValidationMessageFor(model => model.TextAnalysis, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="保存修改" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("../Shared/Tool")
@section Scripts {
    <script type="text/javascript">

        seajs.use("modules/exercise/edit");
    </script>
}
