@model IEnumerable<FYstudentMgr.Models.Courses.Exercise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lesson.LessonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextAnalysis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasVideo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lesson.LessonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextAnalysis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasVideo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ErrorCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExerciseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExerciseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExerciseID })
        </td>
    </tr>
}

</table>
