@model PagedList.IPagedList<FYstudentMgr.Models.Common.Reply>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity
<ul id="ulComment" class="list-unstyled">
   @{
       int i=1;
   foreach (var comment in Model)
   {

    <li id="@comment.ID" data-iduser="@comment.UserID" class="media">
        <a href="/Profile/Index/@comment.UserID" target="_blank" class="avatar pull-left mgr10">
            <img src="http://img.xueqitian.com/avatar50/@(Convert.ToString(comment.UserID)).jpg">
        </a>
        <div class="media-body">
            <p class="media-heading">
                <a href="/Profile/Index/@comment.UserID" data-iduser="@comment.UserID" target="_blank">@(comment.User.Student.Name??"匿名书生")</a>
                <a class="label label-success mgr10" target="_blank" href="javascript:;">@comment.User.Student.Rank</a>
                <span class="muted f12 mgl10 time" title="评论时间：@comment.CreateTime">@comment.CreateTime</span>
                <span class="pull-right muted f12">@((ViewBag.CurrentPage - 1) * ViewBag.CurrentPageSize+i++)楼</span>
            </p>
            <div class="mgt10">
                @Html.Raw(comment.Content)
            </div>
            <div class="f12 muted pull-right" >
                @if (comment.UserID == User.Identity.GetUserId<int>())
                {
                    <a class="btn-sec-delete muted mgl10" onclick="delComment(@comment.ID)">删除</a>
                }
                else
                {
                    <a class="listzan muted" onclick="likeComment(@comment.ID,this)">赞 (<span class="post-num">@comment.LikeTimes</span>)</a>
    <a class="btn-sec-reply muted mgl10" onclick="showReplyComment(@comment.ID,@comment.ID, @comment.UserID,@comment.Level, '@(comment.User.Student.Name??"匿名书生")', this)">回复</a>

                }


                

            </div>
        </div>

        @foreach (var rep in comment.GetReplys().OrderByDescending(r => r.CreateTime))
        {
            <div class="reply media">
                <a href="/Profile/Index/@rep.UserID" target="_blank" class="small-avatar mgr10 pull-left">
                    <img src="http://img.xueqitian.com/avatar50/@(Convert.ToString(rep.UserID)).jpg">
                </a>
                <div class="media-body">
                    <p class="media-heading">
                        <a href="/Profile/Index/@rep.UserID" target="_blank">@(rep.User.Student.Name ?? "匿名书生")</a>
                        <a class="label label-success mgr10 hide" target="_blank" href="javascript:;">@rep.User.Student.Rank</a>
                        <span class="muted f12 mgl10 time" title="回复时间：@rep.CreateTime">@rep.CreateTime</span>
                    </p>
                    <div class="mgt10">@Html.Raw(rep.Content)</div>
                    <div class="f12 muted pull-right">
                        @if (rep.UserID == User.Identity.GetUserId<int>())
                        {
                            <a class="btn-sec-delete muted mgl10" onclick="delComment(@rep.ID)">删除</a>
                        }
                        else
                        {
                            <a class="btn-sec-reply muted mgl10" onclick="showReplyComment(@comment.ID,@rep.ID, @rep.UserID,@rep.Level, '@(rep.User.Student.Name ?? "匿名书生")', this)">回复</a>

                        }

                        
                    </div>
                </div>
            </div>
        }
    </li>
   }
}  
</ul>
@Html.PagedListPager(Model, page => Url.Action("Details", new { page, id = ViewBag.ID, pagesize = ViewBag.currentPageSize, order = ViewBag.Order }))
