@model FYstudentMgr.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "绑定手机";
}
<div class="content">
    <div id="nav">
        <dl>
            <dt><i class="icon-money"></i> 我的账户</dt>
            <dd>
                <a href="/manage/index">账户首页</a>
            </dd>
            @*<dd>
                <a href="//instalment.hujiang.com/pc/acct/myAcctAll">优学宝分期</a>
            </dd>*@
            <dd>
                <a href="#">我的银行卡</a>
            </dd>
            <dd>
                <a href="/manage/orderlist" >我的订单</a>
            </dd>
            <dt><i class="icon-user"></i> 个人设置</dt>
            <dd>
                <a href="/manage/info" class="">基本资料</a>
            </dd>
            <dd>
                <a href="/manage/secure" class="active">帐号安全</a>
            </dd>
        </dl>
    </div>
    <div id="form-container">
        <div class="title">
            <h2>绑定手机</h2>
            <div class="form-nav hidden">
                <div class="item step1-nav step-active">
                    <span class="step step-nav-active">1</span>
                    <p>短信验证</p>
                    <div class="line1 "></div>
                </div>
                <div class="item step2-nav">
                    <span class="step">2</span>
                    <p>新手机绑定</p>
                </div>
            </div>
        </div>
        <div class="step-1 step" data-step="1" data-type="4">
                @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { id = "step1-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    
                    <div>
                        <div class="list">
                            <label>手机号码</label>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "mobile",placeholder = "请输入手机号" })
                            
                            <div class="info  info2">
                                <span><em></em></span>
                                <div class="inner">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="list">
                            <label>图形验证</label>
                            <input type="text" id="imgcode" name="imgcode" class="imgcode input-width " aria-required="true" aria-describedby="imgcode-error" aria-invalid="false">
                            <div class="imark">
                                <img src="/Account/GetAuthCode" class="captcha" id="captcha">
                            </div>
                            <div class="info  info2">
                                <span><em></em></span>
                                <div class="inner">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="list">
                            <label>短信验证</label>
                            @Html.TextBoxFor(m => m.Code, new { @class = "input-width", placeholder = "请输入验证码" })
                            
                            <button class="btn-mark btn-mark-active" id="getcode" type="button">获取验证码</button>
                            <div class="info  info2">
                                <span><em></em></span>
                                <div class="inner">
                                    @Html.ValidationMessageFor(m => m.Code, "")
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="4" name="gettype">
                    <button class="step1-next btn-common" type="submit">绑定</button>
                }
          
                
            
        </div>
    </div>
</div>

@Html.Partial("../Shared/Tool")
@section Scripts {
    <script type="text/javascript">

        seajs.use("modules/manage/addphonenumber");
    </script>
}








