@model FYstudentMgr.Models.IndexViewModel
@{
    ViewBag.Title = "个人管理中心";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>更改您的账户设置</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>密码:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("修改密码", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("创建密码", "SetPassword")
            }
            ]
        </dd>
        <dt>外部登录:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
          
            <dt>手机号:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("修改", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("移除", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("添加", "AddPhoneNumber")
                }
                ]
            </dd>
        
        <dt>双重认证:</dt>
        <dd>
            @*<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>已开启
                        <input type="submit" value="关闭" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>已关闭
                        <input type="submit" value="启用" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>
    </dl>
</div>
