@model FYstudentMgr.Models.IndexViewModel

@{
    ViewBag.Title = "账户安全";
}
<div class="content">
    <div id="nav">
        <dl>
            <dt><i class="icon-money"></i> 我的账户</dt>
            <dd>
                <a href="/manage/index" >账户首页</a>
            </dd>
            @*<dd>
                <a href="//instalment.hujiang.com/pc/acct/myAcctAll">优学宝分期</a>
            </dd>*@
            <dd>
                <a href="#">我的银行卡</a>
            </dd>
            <dd>
                <a href="/manage/orderlist" >我的订单</a>
            </dd>
            <dt><i class="icon-user"></i> 个人设置</dt>
            <dd>
                <a href="/manage/info" class="">基本资料</a>
            </dd>
            <dd>
                <a href="/manage/secure" class="active">帐号安全</a>
            </dd>
        </dl>
    </div>
    <div id="main">
        <h2>账号安全</h2>
        <ul class="ul1">
            <li>
                <div class="myicon myicon-mobile  @(Model.PhoneNumber != null?"mobile-active":"") ">

                </div>
                <div class="li-right">
                    @if (Model.PhoneNumber != null)
                    {
                        <div class="title">
                            手机已绑定
                            <span class="action"><a href="/manage/ChangePhoneNumber" class="bi-cm">更换</a></span>
                        </div>
                    }
                    else
                    {
                        <div class="title">
                            手机未绑定
                            <span class="action"><a href="/manage/AddPhoneNumber" class="bi-cm">绑定手机</a></span>
                        </div>
                    }

                   
                    <div class="mes">
                        @(Model.PhoneNumber??"-")
                    </div>
                </div>
            </li>
            <li>
                <div class="myicon myicon-mail  @(Model.Email != null?"mail-active":"")"></div>
                <div class="li-right">
                    @if (Model.Email != null)
                    {
                        <div class="title">

                            邮箱已绑定
                            @*<span class="action"><a href="/manage/emailBind" class="bi-bindmail">更换</a></span>*@

                        </div>
                    }
                    else
                    {
                        <div class="title">

                            邮箱未绑定
                            <span class="action"><a href="/manage/emailBind" class="bi-bindmail">绑定邮箱</a></span>

                        </div>
                    }
                   
                    <div class="mes">
                        @(Model.Email??"-")
                    </div>
                </div>
            </li>
            <li>
                <div class="myicon myicon-lock  @(Model.HasPassword?"pwd-active":"")"></div>
                <div class="li-right">
                    @if (Model.HasPassword)
                    {
                        <div class="title">

                            登录密码已设置
                            <span class="action"><a href="/manage/ChangePassword" class="bi-chpwd">修改&nbsp;</a></span>&nbsp;&nbsp;                          
                        </div>
                    }
                    else
                    {
                        <div class="title">
                            登录密码未设置                            
                           <span class='action'><a href='/manage/SetPassword'>设置&nbsp;&nbsp;</a></span>                                                  
                        </div>
                    }

                    <div class="mes">
                      @(Model.HasPassword?"********":"-") 
                    </div>
                </div>
            </li>
            @*<li>
                <div class="myicon myicon-avatar "></div>
                <div class="li-right">
                    <div class="title">
                        实名认证

                        <a href="/account/infoComplete" class="bi-certify">去认证</a>&nbsp;&nbsp;

                    </div>
                    <div class="mes">
                        &nbsp;

                    </div>
                </div>
            </li>*@

            @*<li>
                <div class="myicon myicon-lock "></div>
                <div class="li-right">
                    <div class="title">

                        支付密码未设置
                         								<span class='action'><a href='/account/payPwdChange'>修改&nbsp;</a></span>&nbsp;&nbsp;
                        <span class="action"><a href="/account/payPwdSet" class="bi-setPayPwd">设置</a></span>



                    </div>
                    <div class="mes">
                        -
                    </div>
                </div>
            </li>*@
            <li class="ul-third">
                <div class="li-title">第三方帐号</div>
                <ul class="ul2">
                    <li>




                        <i class="myicon-weixin"></i>
                        <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxd04809a6f1f434d6&amp;redirect_uri=https%3a%2f%2fpass.hujiang.com%2fqc%2f%3fcallbacktype%3d6%26returnurl%3dhttp%253a%252f%252fprofile.hujiang.com%252faccount%252fbindresult%26source%3dweixin&amp;response_type=code&amp;state=717380f140054928a792ff5f3de031fa&amp;scope=snsapi_login" class="bi-bindWechat"><p class="action active">去绑定</p></a>




                    </li>
                    <li>


                        <i class="myicon-qq"></i>
                        <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&amp;client_id=100245607&amp;display=&amp;redirect_uri=https%3a%2f%2fpass.hujiang.com%2fqc%2f%3fcallbacktype%3d6%26returnurl%3dhttp%253a%252f%252fprofile.hujiang.com%252faccount%252fbindresult%26source%3dqq&amp;state=829d342a8cad45a6bdda17053116369c" class="bi-bindqq"><p class="action active">去绑定</p></a>






                    </li>
                    @*<li>






                        <i class="myicon-weibo"></i>
                        <a href="https://api.weibo.com/oauth2/authorize?response_type=code&amp;client_id=1763324258&amp;display=default&amp;redirect_uri=https%3a%2f%2fpass.hujiang.com%2fqc%2f%3fcallbacktype%3d6%26returnurl%3dhttp%253a%252f%252fprofile.hujiang.com%252faccount%252fbindresult%26source%3dsina&amp;state=4e9340bc070b48cfb8750077c41bf525&amp;forcelogin=true" class="bi-bindsina"><p class="action active">去绑定</p></a>


                    </li>*@
                </ul>
            </li>

        </ul>
    </div>
</div>
<div class="modal fade text" id="msgPopup" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>提示</h3>
            </div>
            <div class="modal-body">
                <p id="msg-info"></p>
            </div>

        </div>
    </div>
</div>
@Html.Partial("../Shared/Tool")
@section Scripts {
    <script type="text/javascript">

        var msg = '@ViewBag.StatusMessage';

        
        
        seajs.use("modules/manage/secure", function (e) {
            e.init(msg);
        });
    </script>
}
