@model FYstudentMgr.Models.Courses.Class
@{
    ViewBag.Title = "上传图片";
}
<div class="container mgt20 mgb80 text">
    <div class="panel panel-green col-lg-9 pd0">
        <div class="panel-heading">
            <a href="/Home/Admin">博奥管理后台</a>>><a href="/Subject/Index">课程管理</a>>><a href="/Course/Details/@ViewBag.CourseID">@ViewBag.CourseName</a>>>@Model.ClassName
        </div>
        <h2 class="text-left col-md-12 ">
            <label>为 <strong id="classname" data-courseid="@Model.CourseID" data-id="@Model.ClassID">@Model.ClassName </strong> 上传照片 </label>
        </h2>
        <strong>
            上传图片注意事项：
        </strong>
        <ul class="tip col-md-12 text-mute">

            <li>
                <small>上传图片尺寸请设为高344像素X宽560像素</small>
            </li>
            <li>
                <small>请上传蓝底照片</small>
            </li>
            <li>
                <small>图片大小不得大于50KB</small>
            </li>

        </ul>
    </div>
    <div class="body">
        <div class="col-md-12">
            <div id="container">
                <a class="btn btn-default btn-lg " id="pickfiles" href="#">
                    <i class="glyphicon glyphicon-plus"></i>
                    <sapn>选择图片</sapn>
                </a>
                <a class="btn btn-primary btn-lg" id="up_load" href="#">
                    <i class="glyphicon glyphicon-ok"></i>
                    <span>确认上传</span>
                </a>
            </div>
        </div>
        <div id="preview">

        </div>
        <div style="display:none" id="success" class="col-md-12">
            <div class="alert-success">
                队列全部文件处理完毕
            </div>
        </div>

    
    </div>
</div>
@Html.Partial("../Shared/Tool")
@section Scripts {
    <script type="text/javascript">

        seajs.use("modules/class/uploadimg");
    </script>
}


