@model PagedList.IPagedList<FYstudentMgr.Models.Common.Reply>
@using PagedList.Mvc;
@{
    ViewBag.Title = "留言管理";
}
<link href="~/Content/assert/bbs.css" rel="stylesheet" />


<div class="container mgt20 text mgb80">
    <p><a href="/Home/Admin">后台管理</a>>>留言管理</p>
    <div class="row">
        <div class="col-lg-9">
            @using (Html.BeginForm("Index", "Discuss", new { pagesize = ViewBag.currentPageSize }, FormMethod.Get, new { @class = "form-inline" }))
            {
                <p>
                    <label class="label label-success">按内容查找:</label> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                    <input class="btn  btn-info btn-sm" type="submit" value="搜索" />
                    <span class="mgl20"><span style="color:blue">@ViewBag.NotCheckNum 条未审核</span>，共有 @ViewBag.TotalNum 个留言</span>
                </p>
            }
            @using (Html.BeginForm("Index", "Discuss", new { pagesize = ViewBag.currentPageSize }, FormMethod.Get, new { @class = "form-inline" }))
            {
                <p>
                    <label class="label label-success">按内容查找:</label> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                    <input class="btn  btn-info btn-sm" type="submit" value="搜索" />
                   
                </p>
            }
            <ul class="list-unstyled topic-list">
                @foreach (var mt in Model)
                {

                    <li class="list-group-item @(mt.IsCHeck?"muted":"list-group-item-danger")">

                        <input class=" pull-left mgr20" name="check" type="checkbox" value="@mt.ID" />
                        <span>@mt.User.Student.Name 发表评论：</span>
                        <span>
                        @if (mt.ReplyType == FYstudentMgr.Models.Common.ReplyType.Article)
                        {
                            <a href="/Article/Details/@mt.RootID" target="_blank">@mt.Content</a>
                        }
                        @if (mt.ReplyType == FYstudentMgr.Models.Common.ReplyType.Discuss)
                        {
                            <a href="/Discuss/Details/@mt.RootID" target="_blank">@mt.Content</a>
                        }
                         @if (mt.ReplyType == FYstudentMgr.Models.Common.ReplyType.Message)
                         {
                            <a href="/Profile/GuestMsg/@mt.RootID" target="_blank">@mt.Content</a>
                         }
                         @if (mt.ReplyType == FYstudentMgr.Models.Common.ReplyType.Question)
                        {
                            <a>@mt.Content</a>
                        }
                        
                        
                        </span>
                        <span class="f11 pull-right muted">@mt.CreateTime</span>
                        <button class="btn btn-danger btn-xs pull-right mgr20" onclick="showDel(@mt.ID,this)">删除</button>                       
                    </li>
                }

            </ul>
            <div class="row">
                <div class="checkbox col-lg-1 pd0 " style="margin:0;margin-left:45px;">
                    <input type="checkbox" name="checkall" id="checkall" />
                    <div class="">全选</div>

                </div>
                <div class="col-lg-3">
                    <button class="btn btn-default btn-xs mgl20" id="CheckAll">标为已核</button>
                    <button class="btn btn-xs btn-danger " id="DelAll">删除</button>
                </div>

            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, pagesize = ViewBag.currentPageSize }))
        </div>

    </div>
</div>

<div class="modal fade text" id="deletePopup" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>提示</h3>
            </div>
            <div class="modal-body">
                <p>确定要删除《<strong id="deltitle" class="text-danger"></strong>》这条评论吗？</p>
            </div>
            <div class="modal-footer text-center">
                <button id="btnDelReply" type="button" class="btn btn-success">确定</button>
                <a data-dismiss="modal" aria-hidden="true" class="btn btn-white">取消</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text" id="delSelectPopup" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>提示</h3>
            </div>
            <div class="modal-body">
                <p>确定要删除这些评论吗？</p>
            </div>
            <div class="modal-footer text-center">
                <button id="btnDelSelect" type="button" class="btn btn-success">确定</button>
                <a data-dismiss="modal" aria-hidden="true" class="btn btn-white">取消</a>
            </div>
        </div>
    </div>
</div>


@Html.Partial("../Shared/Tool")
@section Scripts {
    <script type="text/javascript">
        seajs.use("modules/reply/index");
    </script>
}