@model IEnumerable<FYstudentMgr.Models.ApplicationUser>
<div class="mgt20 pd20 bg-white">
    <div class="sortlist">
        <h1>经验总排行</h1>
    </div>
    <ul class="list-unstyled">
        @{
            int i = 1;
            var students = Model.ToList();
            foreach (var s in students)
            {
                <li class="media" style="position:relative;">
                    <span class="pull-left rank muted">@(i++)</span>
                    <a href="/Profile/Index/@s.Id" target="_blank" class="pull-left avatar super-small-avatar">
                        <img src="http://img.xueqitian.com/avatar50/@(s.Student.IsUploaImg ? Convert.ToString(s.Id) : "default").jpg" alt="@s.Student.Name" width="50" height="50">
                    </a>
                    <a href="/Profile/Index/@s.Id" target="_blank" class="xp_rank_name">
                        @s.Student.Name
                    <span class="label label-success mgl10">@s.Student.Rank</span>
                </a>

                <span class="pull-right rank_added bold" title="经验值">@s.Student.XP</span>
            </li>
            }
            i++;
        }

    </ul>
</div>
<div class="mgt40">
    @*<a href="/zt/app" target="_blank">
        <img src="http://stat.kejuwang.com/img/mobile/zt/app/home-banner-mobile.jpg" alt="" />
    </a>*@
</div>
